<p>techinical works!</p>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum aperiam ex nemo voluptates alias, quo dolorem iste enim aut culpa odit corporis, error dolores ducimus quas, assumenda ullam provident quisquam. </p>
<!-- <div class="container">
<div class="menu-area">
    <ul>
        <li> home</li>
        <li> home</li>
        <li> don
             <ul class="dropdown">
                <li> cat</li>
                <li> cat</li>
                <li> cat</li>
                <li> cat</li>
            </ul>
        </li>
        
    </ul> 
 
</div> -->




<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo deserunt ipsum a repellendus magni ut molestiae, pariatur nam odio consequuntur tenetur 
    minima sint commodi illo necessitatibus, eum quia expedita 
    nesciunt?s</p>


    <!-- </div>> -->