
<section>
    
    <div class="nav_bar">
       <nav>   <div class="nav_header">
              
                <div class="nav_text">
                <p> T<span>he</span></p>
                <p> E<span>nterpreneurship</span> </p> 
                <p> N<span>etwork</span>  </p> 
                </div>
   
                <div class="nav_material">
                    <div class="nav_items">
                       <button class="cart_box" > <mat-icon class="cart_img">shopping_cart</mat-icon> </button>  
                       <button  class= "login_box"  mat-raised-button> <mat-icon>account_circle </mat-icon> Log In</button> 
                    </div>  
                    <div class="search" >
                           <input type="text" class="search_bar" placeholder="search here.."> 
                       <div> <mat-icon class="search_icon">search</mat-icon></div> 
                    </div> 
   
                </div>
   
           </div>
       </nav>
   
    <!-- <nav>       <div class="nav_footer" >
             <div>
               <img src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-borders-logo-png-image_1524188.jpg" class="logo">
             </div>  
           </div>
        </nav>  -->
      </div>
   
  </section> 
  
