<div class="home">
    <!-- <p class="home_text"> START LEARNING FOR  FUTURE BRIGHT  </p>  -->
    
   
    <img padding-left=" 5%" width="80%" height="550vh"  class="home_img1" src="../../assets/images/Huge-Backgrounds-63.jpg">
 </div>
          
 <div class="about_box">
   <div class="about_header">
       <h1  > About Us</h1>
    </div>   
    <div class="about_par">
       <span >
        Learning Together
        <br> 
        From the Comfort 
       <br> 
       of Your Home    
       </span>
      </div>
             
  <div class="about_button">
      <button (click)="goTopage('about')" class="button"> <span  class="button_text">Learn More </span></button>
   </div>
   <div>
      <img   class="learnmore_img" src="../../assets/images/Huge-Backgrounds-63.jpg">
   </div>
                
</div>


<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold grey-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
      <p align="flex">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.</p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="jarallax"
     style="background-image: url(assets/images/background_parallax.png);" >
     
     <div class="jarallax_text1">
          <h2> <span>Welcome to </span></h2> 
     </div>

     <div class="jarallax_text2">
       <h2> THE NE <span>XT BIG</span> THING</h2>  
    </div>

    <div class="jarallax_box"> 
      <button class="jarallax_button" type="button"> <span class="button_text"> Join TEN Virtual Campus  </span></button>
    </div>

</div> 

<div class="container">
   <!--Grid row-->
   <div class="row">
     <!--Grid column-->
     <div class="col-md-12 text-center my-5">
       <h2 class="h1 font-bold grey-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2>
       <p align="flex-center">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
         provident
         rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
         cumque
         provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
         veritatis
         cupiditate reprehenderit.</p>
     </div>
     <!--Grid column-->
   </div>
   <!--Grid row-->
</div>



       


    
