

<div id="section">
   
    <div class="container">
        
           
        <div class="main_text">
           <h1> Hackathon</h1>
        </div>
       
        <div class="container1">
           
           
                <main class="main">
                        
                    <img src="https://static.wixstatic.com/media/c4ea0b_77dbe11dc54949f89a4784017d217707~mv2.jpg/v1/fill/w_890,h_500,al_c,q_85/HackathonIllustration.webp">
                        
                 </main>
               
                <aside class="aside" style="background-color:rgba(89,22,8,1) ;"> 

                  
                    <h1>  A problem is a </h1>
                    <h1>  chance for you to do </h1>
                    <h1> your best. </h1>
                    <p> --Duke Ellington </p>
                
                </aside>
       
        </div>

      </div>   

</div>  

 

<div id="section3">

    <div class="container3">

        <main class="main3">
                     
           <h1>  About TEN HACK'20</h1>
         </main>
       
        <aside class="aside3" > 
          
          
            <img src="https://static.wixstatic.com/media/c4ea0b_048eb8f39c064fb3b67830338f47a3b5~mv2.jpg/v1/fill/w_399,h_506,al_c,lg_1,q_80/c4ea0b_048eb8f39c064fb3b67830338f47a3b5~mv2.webp">
       
        </aside>


     </div>   

</div>
    
    





