
<div id="section">
   
    <div class="container">
        <div class="header" >
           <h1> Entrepreneurship A-Z</h1>
          
          <mat-icon class="search_icon">search</mat-icon>
          <input type="search" placeholder="search.." >
        </div>

        <div class="main_text">
           <h1> Entrepreneurship A-Z </h1>
           <p> Share stories, ideas, pictures and more!</p>
        </div>
        <div class="container1">
            <main class="main">
                
                <article> <h1> Already Have an Account?</h1>  </article>
                <article> <h2> Log in to access the forum.</h2>  </article>
                <article ><button  class="btn" (click)="onCreate()"> Log In</button>  </article>

            </main>

            <aside class="aside"> 

                <article> <h1> Sign Up Today</h1>  </article>
                <article> <h2> Join the forum to check out the posts and add your voice.</h2>  </article>
                <article ><button class="btn"  > Get Started</button>  </article>

            </aside>

        </div>
    </div>   

</div>  

